* {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Raleway', sans-serif;
    color:#311F09;
    font-size: calc(60px + (80 - 60) * ((100vw - 375px) / (1440 - 375)));
    font-weight: 700;
    max-width: calc(217px + (288 - 217) * ((100vw - 375px) / (1440 - 375)));
    line-height: 110%;
    margin: calc(16px + (23 - 16) * ((100vw - 375px) / (1440 - 375))) 0px calc(15px + (30 - 15) * ((100vw - 375px) / (1440 - 375)));
}

h2 {
    font-family: 'Tinos', sans-serif;
    font-size: calc(60px + (80 - 60) * ((100vw - 375px) / (1440 - 375)));
    font-weight: 700;
    line-height: 110%;
}

p { 
    font-family: 'Poppins', sans-serif;
    font-size: calc(12px + (20 - 12) * ((100vw - 375px) / (1440 - 375)));
    line-height: 200%;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: calc(12px + (30 - 12) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 600;
    line-height: 200%;
}

button {
    width: calc(139px + (232 - 139) * ((100vw - 375px) / (1440 - 375)));
    height: calc(44px + (74 - 44) * ((100vw - 375px) / (1440 - 375)));
    border-radius: calc(97px + (163 - 97) * ((100vw - 375px) / (1440 - 375)));
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: calc(12px + (20 - 12) * ((100vw - 375px) / (1280 - 375)));
    line-height: 200%;
}

/*ЭКРАН ПЕРВЫЙ */

.homePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: calc(25px + (51 - 25) * ((100vw - 375px) / (1440 - 375)));
    padding-bottom: calc(32px + (153 - 32) * ((100vw - 375px) / (1440 - 375))); 
    /* padding-right: calc(3px + (51 - 3) * ((100vw - 375px) / (1440 - 375)));
    padding-left: calc(10px + (151 - 10) * ((100vw - 375px) / (1440 - 375))); */
}

.horizontalMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(375px + (1112 - 375) * ((100vw - 375px) / (1440 - 375)));
    align-items: center;
}

.logo-container {
    display: flex;
    gap: 18px;
    justify-content: center;
    align-items: center;
}

.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 600px;
    font-size: 25px;
    background-color: #FF8A00;
    border-radius: 50%;
    width: 51px;
    height: 51px;
}

.brand-name {
    font-family: Poppins;
    font-weight: 600;
    font-size: 14px;
    font-weight: bold;
    color: #4A3F35; 
}

.highlight {
    color: orange;
}


.navList {
    display: flex;
    gap: calc(10px + (45 - 10) * ((100vw - 768px) / (1440 - 768)));
    list-style-type: none;
}

.active {
    color:#FF8A00;
}

li {
    font-family: Poppins;
    font-size: calc(7px + (14 - 7) * ((100vw - 768px) / (1440 - 768)));
    line-height: 150%;
    color:#311F09;
}

li a {
    text-decoration: none;
    color:#311F09;
}

.logoCart {
    display: flex;
    gap: 25px;
}

.cart {
    position: relative;
    display: flex;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color:  rgba(208, 204, 199, 0.1); 
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.cart img {
    width: 24px;
    height: 24px;
    padding: 10px;
}

.cart p {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    background-color:#FF3838;
    border-radius: 50%;
    padding: 2.5px;
    font-size: 8px;
    font-weight: 500;
    line-height: 12px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logIn .green {
    width: 112px;
    height: 50px;
    border-radius: 133px;
    font-size: 14px;
}


.infoSide p {
    width: calc(313px + (523 - 313) * ((100vw - 375px) / (1440 - 375)));
    font-size: calc(12px + (20 - 12) * ((100vw - 375px) / (1440 - 375)));
    color:#5C4529;
    margin-bottom: calc(40px + (77 - 40) * ((100vw - 375px) / (1280 - 375)));
}

.cuisine {
    display: flex;
    flex-wrap: wrap;
    gap: calc(61px + (96 - 61) * ((100vw - 375px) / (1440 - 375)));
    justify-content: center;
    align-items: center;
    margin-top: calc(56px + (169 - 56) * ((100vw - 375px) / (1440 - 375)));
}

.infoSide span {
    font-family: Raleway;
    font-size: calc(12px + (18 - 12) * ((100vw - 375px) / (1440 - 375)));
    line-height: 110%;
    color: #FF8A00;
    background-color: rgba(255, 138, 0, 0.2);
    border-radius: 126px;
    padding: calc(6px + (10 - 6) * ((100vw - 375px) / (1440 - 375))) calc(18px + (34 - 18) * ((100vw - 375px) / (1440 - 375)));
}

.order {
    display: flex;
    gap: calc(20px + (23 - 20) * ((100vw - 375px) / (1440 - 375)));
}

.order .orange {
    background: #FF8A00;
}

.order .green {
    background: #3FA72F;
}

.logIn .green {
    background: #3FA72F;
    width: calc(56px + (112 - 56) * ((100vw - 375px) / (1440 - 375)));
    height: calc(25px + (50 - 25) * ((100vw - 375px) / (1440 - 375)));
    border-radius: calc(65px + (133 - 65) * ((100vw - 375px) / (1440 - 375)));
}

.imgSide {
    display: flex;
    justify-content: center;
    position: relative;
    width: calc(259px + (493 - 259) * ((100vw - 375px) / (1440 - 375)));
    height: calc(259px + (493 - 259) * ((100vw - 375px) / (1440 - 375)));
}

.plate {
    position: relative;
    z-index: 1;
    width: calc(259px + (493 - 259) * ((100vw - 375px) / (1440 - 375)));
    height: calc(259px + (493 - 259) * ((100vw - 375px) / (1440 - 375)));
}

.lettuce-left, .lettuce-right {
    z-index: 0;
}

.lettuce_left {
    position: relative;
    top: calc(-45px + (-40 + 45) * ((100vw - 375px) / (1440 - 375)));
    left: calc(110px + (130 - 110) * ((100vw - 375px) / (1440 - 375)));
    width: calc(107px + (203 - 107) * ((100vw - 375px) / (1440 - 375)));
    height: calc(119px + (226 - 119) * ((100vw - 375px) / (1440 - 375)));
}

.lettuce_right {
    position: relative;
    top: calc(190px + (320 - 190) * ((100vw - 375px) / (1440 - 375)));
    right: calc(120px + (150 - 120) * ((100vw - 375px) / (1440 - 375)));
    width: calc(107px + (203 - 107) * ((100vw - 375px) / (1440 - 375)));
    height: calc(119px + (226 - 119) * ((100vw - 375px) / (1440 - 375)));
    rotate: 170deg;
}


/* ЭКРАН ВТОРОЙ  */

.greenPage {
    background-color: rgba(63, 198, 110, 0.1);
    padding-top: calc(74px + (176 - 74) * ((100vw - 375px) / (1440 - 375)));
}

.welcome {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    gap: calc(50px + (136 - 50) * ((100vw - 375px) / (1440 - 375)));
}

.welcomeText h2 {
    font-family: 'Tinos', sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 88px;
    max-width: calc(217px + (288 - 217) * ((100vw - 375px) / (1440 - 375)));
    margin-bottom: calc(21px + (60 - 21) * ((100vw - 375px) / (1440 - 375)));
}

.welcomeImage img {
    width: calc(367px + (707 - 367) * ((100vw - 375px) / (1440 - 375)));
    height: calc(358px + (689 - 358) * ((100vw - 375px) / (1440 - 375)));
}

.welcomeText p {
    width: calc(291px + (433 - 291) * ((100vw - 375px) / (1440 - 375)));
    margin-bottom: calc(53px + (122 - 53) * ((100vw - 375px) / (1440 - 375)));
    font-family: 'Poppins', sans-serif;
    font-size: calc(12px + (20 - 12) * ((100vw - 375px) / (1440 - 375)));
    line-height: 200%;
    color:#5C4529;
}

.welcomeText .orange {
    background: orange;
    margin-bottom: calc(35px + (188 - 35) * ((100vw - 375px) / (1440 - 375)));
}

/* ЭКРАН ТРЕТИЙ  */

.menuList {
    padding-top: calc(25px + (51 - 25) * ((100vw - 375px) / (1440 - 375)));
    padding-bottom: calc(32px + (153 - 32) * ((100vw - 375px) / (1440 - 375))); 
    padding-left: calc(25px + (164 - 25) * ((100vw - 375px) / (1440 - 375)));
    padding-right: calc(25px + (164 - 25) * ((100vw - 375px) / (1440 - 375)));
}

.menuList h2 {
    font-family: 'Tinos', sans-serif;
    font-size: calc(35px + (80 - 35) * ((100vw - 375px) / (1440 - 375)));
    /* width: calc(218px + (643 - 218) * ((100vw - 375px) / (1440 - 375))); */
    font-weight: 700;
    line-height: 200%;
    text-align: center;
    margin-top: calc(62px + (165 - 62) * ((100vw - 375px) / (1440 - 375)));
}

.categories {
    display: flex;
    gap: calc(10px + (27 - 10) * ((100vw - 375px) / (1440 - 375)));
    margin-bottom: calc(30px + (60 - 30) * ((100vw - 375px) / (1440 - 375)));
    justify-content: center;
}

.category {
    font-family: 'Poppins', sans-serif;
    font-size: calc(12px + (20 - 12) * ((100vw - 375px) / (1440 - 375)));
    font-weight: 600;
    line-height: 200%;
    background-color: rgba(208, 204, 199, 0.1);
    border: none;
    border-radius: calc(52px + (162 - 52) * ((100vw - 375px) / (1440 - 375)));
    color:#311F09;
}

.category.active {
    background-color:#311F09;
    color:#FFFFFF;
}

/*SWIPER*/

.swiper-wrapper {
    /* width: 1112px;
    height: 1813px; */
    gap: 20px;
}

.swiper-slide {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: calc(155px + (344 - 155) * ((100vw - 375px) / (1440 - 375))) !important;
    border: none;
    background-color: rgba(208, 204, 199, 0.1);
    border-radius: calc(19px + (70 - 19) * ((100vw - 375px) / (1440 - 375)));
}

.swiper-slide h3 {
    font-family: 'Poppins', sans-serif;
    font-size: calc(14px + (30 - 14) * ((100vw - 375px) / (1440 - 375)));
    font-weight: 600;
    line-height: 200%;
}

.swiper-pagination {
    display: flex;
    justify-content: center;
    z-index: 10;
    gap: 15px;
} 

.swiper-pagination-bullet {
    display: flex;
    width: 55px;
    height: 55px;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    color:#FF8A00;
    align-items: center;
    justify-content: center;
    background: rgba(255,138,0,0.1);
    border-radius: 15px;
}

.swiper-pagination-bullet-active {
    color:#fff;
    background: #FF8A00;
}

.paginationNav {
    display: flex;
    margin-top: 88px;
    justify-content: center;
    gap: 30px;
}

.swiper-button-prev, .swiper-button-next {
    display: flex;
    background:#311F09;
    border-radius: 15px;
    width: 55px;
    height: 55px;
    color:white;
    align-items:center;
    justify-content: center;
}

.dish img {
    max-width: calc(114px + (270 - 114) * ((100vw - 375px) / (1440 - 375)));
    height: calc(114px + (270 - 114) * ((100vw - 375px) / (1440 - 375)));
}

.dish p {
    font-size: 14px;
    line-height: 28px;
    color:#59442B;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.ratings {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 5px 15px;
}

.star {
    background: none;
    padding: 0;
    border: none;
    border-radius: 2px;
    color: orange;
}

.star:last-child {
    color: #f0f0f0;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: calc(14px + (30 - 14) * ((100vw - 375px) / (1440 - 375)));
    margin-bottom: calc(15px + (35 - 15) * ((100vw - 375px) / (1440 - 375)));
    gap: 34px;
}

.price p {
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    color: #000000;
}

.price .orange {
    width: 158px;
    height: 55px;
    font-size: 16px;
    padding: 11px 36px;
    background-color: orange;
}

/* ЭКРАН ЧЕТВЁРТЫЙ  */

.reservation {
    background-color:  rgba(255, 244, 231, 0.4);
}

.reservationList {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: calc(13px + (43 - 13) * ((100vw - 375px) / (1440 - 375)));
    align-items: center;
    justify-content: center;
}

.reservationText h2 {
    width: calc(201px + (453 - 201) * ((100vw - 375px) / (1440 - 375)));
    height: calc(80px + (176 - 80) * ((100vw - 375px) / (1440 - 375)));
    font-family: 'Tinos', sans-serif;
    font-size: calc(35px + (80 - 35) * ((100vw - 375px) / (1440 - 375)));
    font-weight: 700;
    line-height: 110%;
    margin-top: calc(60px + (231 - 60) * ((100vw - 375px) / (1440 - 375)));
    margin-bottom: calc(32px + (50 - 32) * ((100vw - 375px) / (1440 - 375)));
}

.reservationText p {
    width: calc(291px + (433 - 291) * ((100vw - 375px) / (1440 - 375)));
    height: calc(96px + (160 - 96) * ((100vw - 375px) / (1440 - 375)));
    font-family: 'Poppins', sans-serif;
    font-size: calc(12px + (20 - 12) * ((100vw - 375px) / (1440 - 375)));
    line-height: 200%;
    margin-bottom: calc(40px + (132 - 40) * ((100vw - 375px) / (1440 - 375)));
}

.reservationText .orange {
    background-color:#FF8A00;
}

.reservationImg img {
    width: calc(418px + (882 - 418) * ((100vw - 375px) / (1440 - 375)));
    height: calc(436px + (883 - 436) * ((100vw - 375px) / (1440 - 375)));
    padding-top: calc(0px + (86 - 0) * ((100vw - 375px) / (1440 - 375)));
    padding-bottom: calc(32px + (87 - 32) * ((100vw - 375px) / (1440 - 375)));
}

/* ЭКРАН ПЯТЫЙ  */

.chefs {
    text-align: center;
    padding-top: calc(48px + (175 - 48) * ((100vw - 375px) / (1440 - 375)));
    padding-bottom: calc(42px + (271 - 42) * ((100vw - 375px) / (1440 - 375)));
}

.chefs h2 {
    display: inline;
    font-family: 'Tinos', sans-serif;
    font-size: calc(35px + (80 - 35) * ((100vw - 375px) / (1440 - 375)));
    color: #311F09;
    font-weight: 700;
    line-height: 200%;
    width: calc(260px + (593 - 260) * ((100vw - 375px) / (1440 - 375)));
    height: calc(47px + (160 - 47) * ((100vw - 375px) / (1440 - 375)));
    margin-bottom: calc(50px + (135 - 50) * ((100vw - 375px) / (1440 - 375)));    
}

.grid-container {
    display: grid;
    grid-template-columns: 344px 344px 344px;
    gap: calc(11px + (40 - 11) * ((100vw - 375px) / (1440 - 375)));
    width: calc(325px + (1112 - 325) * ((100vw - 375px) / (1440 - 375)));
    height: calc(656px + (719 - 656) * ((100vw - 375px) / (1440 - 375))); 
    justify-items: center;
    align-items: center;
    margin-right: calc(25px + (164 - 25) * ((100vw - 375px) / (1440 - 375)));
    margin-left: calc(25px + (164 - 25) * ((100vw - 375px) / (1440 - 375)));
}

.chef-card {
    background-color: #F4F4F4;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    max-width: calc(157px + (344 - 157) * ((100vw - 375px) / (1440 - 375)));
    max-height: calc(313px + (719 - 313) * ((100vw - 375px) / (1440 - 375)));
}

.chef-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.chef-card h3 {
    font-size: 1.2rem;
    color: #333;
    margin-top: 10px;
}

.chef-card p {
    font-size: 1rem;
    color: #777;
}

.viewButton .orange {
    background-color: #FF8A00;
}

/* ЭКРАН ШЕСТОЙ  */

.citation {
    display: flex;
    justify-content: center;
}

.close {
    rotate: 180deg;
}

.citation p {
    max-width: 524px;
    margin: 90px 7px;
}

.centralBlock {
    max-width: 617px;
}

.peoplePhoto {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    padding-top: 50px;
    gap: 30px; 
    transform: scaleY(-1); 
}

.peoplePhoto img {
    border-radius: 50%;
    transition: transform 0.3s ease;
    position: relative;
    transform: scaleY(-1);
}

.peoplePhoto img:nth-child(4) {
    width: 160px;
    height: 160px;
    z-index: 2;
    border: 5px solid rgba(255, 165, 0, 0.4);
    box-shadow: 0 0 15px rgba(255, 165, 0, 0.5);
}

.peoplePhoto img:nth-child(3),
.peoplePhoto img:nth-child(5) {
    width: 120px;
    height: 120px;
    z-index: 1;
}

.peoplePhoto img:nth-child(2),
.peoplePhoto img:nth-child(6) {
    width: 100px;
    height: 100px;
}

.peoplePhoto img:nth-child(1),
.peoplePhoto img:nth-child(7) {
    width: 80px;
    height: 80px;
}

.peoplePhoto img:nth-child(1) {
    transform: translateY(40px) scaleY(-1);
}
.peoplePhoto img:nth-child(2) {
    transform: translateY(25px) scaleY(-1); 
}
.peoplePhoto img:nth-child(3) {
    transform: translateY(10px) scaleY(-1);
}
.peoplePhoto img:nth-child(5) {
    transform: translateY(10px) scaleY(-1);
}
.peoplePhoto img:nth-child(6) {
    transform: translateY(25px) scaleY(-1); 
}
.peoplePhoto img:nth-child(7) {
    transform: translateY(40px) scaleY(-1);
}

.reviews {
    background-image: url(./img/Background_circles.svg);
    background-repeat: no-repeat;
    width: 1440px;
    text-align: center;
    margin-top: 271px;
}

.reviews::before {
    background-color: rgba(208, 204, 199, 0.1);
}


/* ЭКРАН СЕДЬМОЙ  */

.timetable {
    background-image: url(img/Background.svg);
    background-repeat: no-repeat;
    width: 1457px;
    height: 1384px;
    margin: 238px 145px;
    color: white;
}

.timetable h2 {
    font-size: 80px;
    font-weight: 700;
    line-height: 160px;
    margin: 26px 277px 0px 278px;
}

.openHours {
    margin: 0px 390px 50px 391px;
    width: 372px;
    text-align: center;
}

.openHours h3 {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    line-height: 80px;
}

.openHours p {
    font-family: Poppins;
    font-size: 20px;
    line-height: 40px;
}

.special {
    text-align: right;
}

.click {
    display: flex;
    gap: 23px;
    margin: 0px 330px 80px 331px
}

/* ЭКРАН ВОСЬМОЙ  */

.footer {
  background-color: #3d2c23;
  color: #fff;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contacts {
  max-width: 250px;
}

.contacts .logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contacts .logo p {
  width: 40px;
  height: 40px;
  background-color: #f89c1c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  margin-right: 10px;
  font-size: 24px;
}

.contacts .logo span {
  font-size: 18px;
  color: #fff;
}

.contacts p {
  color: #ccc;
  margin-bottom: 20px;
  line-height: 1.5;
}

.socialMedia i {
  font-size: 20px;
  margin-right: 15px;
  color: #fff;
  transition: color 0.3s ease;
}

.socialMedia i:hover {
  color: #f89c1c; 
}

.page {
  max-width: 200px;
}

.page h4 {
  color: #f89c1c; 
  font-size: 18px;
  margin-bottom: 10px;
}

.page ul {
  list-style: none;
  padding: 0;
}

.page ul li {
  color: #ccc; 
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.rights {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  color: #ccc;
}

.rights p {
  font-size: 14px;
  margin: 0;
}

/* PopUp */

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 999;
    max-width: 1440px;
    max-height: 1024px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    display:none;
}

.popUp {
    display:none;
}

.popUp, .design {
    display: flex;
    flex: 1;
    max-width: 50%;
    align-items: center;
    justify-content: center;
}

.design {
    width: 759px;
}

.design img {
    width: 759px;
}

.circle {
    margin: 39px 0px 0px 39px;
}

.form {
    margin: 134px 0px 205px 146px;
}

.form h3 {
    font-family: Raleway;
    font-size: 50px;
    font-weight: 700;
    line-height: 117%;
    color: #311F09;
    margin-bottom: 13px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.form p {
    font-family: Poppins;
    font-size: 20px;
    line-height: 200%;
    color:#5C4529;
    margin-bottom: 41px;
}

.form a {
    font-weight: 500;
}


.form input {
    gap: 40px;
    width: 491px;
    height: 70px;
    background-color: rgba(208, 204, 199, 0.1);
    border-radius: 10px;
    border: none;
    font-family: Poppins;
    font-size: 20px;
    line-height: 200%;
    padding: 15px 0px 15px 50px;
}

input[type="checkbox"] {
    display: flex;
    display: inline;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-color: 1px solid #DCD4CB;
    border-radius: 8px;
}

label {
    font-family: Poppins;
    font-size: 20px;
    line-height: 40px;
    margin-left: 20px;
    color:#5C4529;
}

.form .orange {
    text-align: center;
    width: 491px;
    height: 70px;
    border: solid 1px;
    border-radius: 10px;
    background-color: rgba(255, 138, 0, 0.8);
    color:#FFFFFF;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}

.form .white {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 491px;
    height: 70px;
    border: solid 1px;
    border-radius: 10px;
    border-color: rgba(182, 163, 139, 0.8);
    background-color: white;
    color:#311F09;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.white img {
    width: 36px;
    height: 36px;
}

.white p {
    margin: 0;
}

.design {
    justify-content: center;
    align-items: center;
}

/*Burger Menu*/

.menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
  }
  
  .menuItem:hover {
    text-decoration: underline;
  }
  
.hamburger {
    display: none;
    position: relative;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: none;
    background: white;
    cursor: pointer;
}

.closeIcon {
    display: none;
    background-color: orange;
  }
  
.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;      /* На всю ширину экрана */
    height: 65vh;     /* На половину высоты экрана */
    background: orange;
    color: white;
    list-style: none;
    z-index: 99;
    overflow-y: auto; /* Добавить прокрутку, если ссылки на меню выходят за пределы высоты */
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

.menu.showMenu {
    transform: translateY(0);
}


/* Переопределение для экранов менее 768px */
@media (max-width: 768px) {
    /* Скрыть горизонтальное меню */
    .navList, .logIn {
        display: none;
    }
    .horizontalMenu {
        width: calc(368px + (1112 - 368) * ((100vw - 375px) / (1440 - 375)));
    }

    /* Показать бургер-меню */
    .hamburger {
        display: block;
    }
}


/* Адаптация для разрешения 375px */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* Две колонки */
        grid-template-rows: repeat(2, auto);   /* Две строки */
    }
}

/* Адаптация для разрешения 1440px */
@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr); /* Три колонки */
        grid-template-rows: 1fr; /* Все в одной строке */
    }
    /* Скрыть один элемент при разрешении 1440px, чтобы осталось 3 */
    .chef-card:nth-child(4) {
        display: none;
    }
}